/* body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/Background image.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: sans-serif;
} */

