@import url('./fonts.css');

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; */

  font-family: Agenda;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  background-image: url('./assets/Background image.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* keeps it fixed during scroll */
  font-family: sans-serif;
  transition: background 0.5s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  scroll-behavior: smooth;
}

.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}

